.index-h2 {
  text-align: center;
  padding: 20px;
}

.productos {
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.texto-productos {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  color: #000000;
  background-color: #D9D9D9;
  position: relative;
  top: 300px;
}

.article-producto-index {
  border-radius: 20px;
  padding: 1px;
}

.img-producto-index {
  border-radius: 10%;
  transition: all 0.5s ease;
}

.img-producto-index:hover {
  transition: all 0.5s ease;
  filter: brightness(30%);
}

.a-producto-index {
  align-items: center;
}

.mapa {
  text-align: center;
  background-color: #D9D9D9;
  justify-content: center;
  overflow: auto;
  padding: 30px;
  margin: 30px;
  gap: 40px;
  align-items: center;
  border-radius: 10px;
}

.frame {
  max-width: 100%;
  height: 500px;
}

.direccion {
  text-align: center;
  background-color: #D9D9D9;
  padding: 30px;
  margin: 30px;
  align-items: center;
  border-radius: 10px;
}

.btn {
  background-color: #A5A5A5;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
}

.cantidad {
  text-align: end;
}

input {
  width: 50%;
  height: 5vh;
  text-align: center;
  border-radius: 10px;
}

.producto {
  background-color: #D9D9D9;
  width: 400px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.nombre-articulo-en-venta {
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
  flex-wrap: nowrap;
}

.div-productos {
  overflow: hidden;
  padding: 30px;
  margin: 30px;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.producto {
  background-color: #D9D9D9;
  width: 400px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.nombre-articulo-en-venta {
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
  flex-wrap: nowrap;
}

.div-productos {
  overflow: hidden;
  padding: 30px;
  margin: 30px;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.img-producto {
  border-radius: 10px;
}

.btn {
  background-color: #A5A5A5;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
}

.cantidad {
  text-align: end;
}

input {
  width: 50%;
  height: 5vh;
  text-align: center;
  border-radius: 10px;
}

.picada {
  background-color: #D9D9D9;
  width: 90%;
  border-radius: 20px;
  padding: 15px;
}

.div-picada {
  overflow: hidden;
  padding: 30px;
  margin: 30px;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.img-picada {
  border-radius: 10px;
  float: left;
}

.nombre-picada-en-venta {
  color: black;
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
}

.precios-picada {
  background-color: #A5A5A5;
  width: 150px;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  margin: 3px auto;
}

.portada {
  background-image: url(../assets/img/cartel-la-era-del-queso.png);
  background-size: cover;
  height: 70vh;
  background-position: center;
}

.portada-fiambres {
  background-image: url(../assets/img/fiambres.jpg);
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-quesos {
  background-image: url(../assets/img/quesos2.png);
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-picadas {
  background-image: url(../assets/img/picada-portada.jpg);
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada-embutidos {
  background-image: url(../assets/img/embutidos/portada-embutidos.jpg);
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-portada {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.footer-dark {
  padding: 50px 0;
  color: black;
  background-color: #D9D9D9;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.texto-footer {
  text-align: center;
}

.header {
  font-size: 1.2rem;
  background-color: #D9D9D9;
  padding: 0px;
}

* {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
